@model Telcel.R9.Estructura.Negocio.Empleado
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row text-center">
        <h1>EMPLEADOS</h1>
        <hr />
    </div>
    <br />
    <div class="row">
        <p><b>INSTRUCCIONES</b></p>
        <p><b>BOTON VERDE:  </b>Envia a un formulario para registrar un nuevo empleado</p>
        <p><b>BOTON ROJO:   </b>Elimina al empleado de la columna correspondiente</p>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink(" Registrar empleado", "Form", "Empleado", "", new { @class = "btn btn-success bi bi-textarea-resize" })
        </div>
    </div>
    <br />
    @using (Html.BeginForm("GetAll", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label">.</label>
                <div>
                    <button type="submit" class="btn btn-primary col-md-12 bi bi-search"> Buscar</button>
                </div>
            </div>
        </div>
    }
    <br />
    @if (Model.Empleados != null)
    {
        <table class="table table-dark table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col" class="visually-hidden">EMPLEADO ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col" class="visually-hidden">DEPARTAMENTO ID</th>
                    <th scope="col">DEPARTAMENTO</th>
                    <th scope="col" class="visually-hidden">PUESTO ID</th>
                    <th scope="col">PUESTO</th>
                    <th scope="col">ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Telcel.R9.Estructura.Negocio.Empleado empleado in Model.Empleados)
                {
                <tr>
                    <td class="visually-hidden">@empleado.EmpleadoID</td>
                    <td>@empleado.Nombre</td>
                    <td class="visually-hidden">@empleado.Departamento.DepartamentoID</td>
                    <td>@empleado.Departamento.Descripcion</td>
                    <td class="visually-hidden">@empleado.Puesto.PuestoID</td>
                    <td>@empleado.Puesto.Descripcion</td>
                    <td><a href="@Url.Action("Delete","Empleado", new { EmpleadoID = empleado.EmpleadoID })" class="btn btn-danger bi bi-trash3-fill"></a></td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>
